.home__container {
    background: rgb(195,51,255);
    background: linear-gradient(61deg, rgba(195,51,255,1) 0%, rgba(221,149,253,1) 2%, rgba(226,169,253,1) 9%, rgba(232,192,253,1) 14%, rgba(248,250,252,1) 28%, rgba(248,250,252,1) 42%, rgba(248,250,252,1) 52%, rgba(248,250,252,1) 64%, rgba(248,250,252,1) 71%, rgba(198,249,247,1) 94%, rgba(168,248,244,1) 97%, rgba(137,247,240,1) 100%);
    padding: 2rem;
}

.container_home {
    display: flex;
    gap: 150px;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding: 2rem;
    max-width: 1500px;
    margin: auto;
}

.home__contend {
    display: grid;
    gap: 10px;
    max-width: 352px;
    padding-bottom: 15px;
}

.home___contend-title {
    font-size: 2rem;
    font-weight: bold;
}

.home___contend-text {
    font-size: 0.9rem;
    font-weight: bold;
}

.home__contend-link {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
    text-decoration: underline;
}
