.input__form-container2 {
    border: #535769 1px solid;
    padding: 8px 8px;
    border-radius: 10px 0px 10px 0px;
    font-size: 0.9rem;
    width: 100%;
}

.input__form-title {
    font-size: 0.9rem;
    color: #5E6488;
}

.input-form-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}
